<body>
   <h1>Add a Contact</h1>
   <section class="c1">
      <article>
         <form action="/api/addContact" method="post">
            <div class="con-group">
               <label for="fname">First Name</label>
               <input type="text" name="fname" id="fname" placeholder="Enter your First name">
            </div>
            <div class="con-group">
               <label for="lname">Last Name</label>
               <input type="text" name="lname" id="lname" placeholder="Enter your Last name">
            </div>
            <div class="con-group">
               <label for="number">Mobile Number</label>
               <input type="text" name="number" id="number" placeholder="Enter your Number">
            </div>
            <div class="con-group">
               <label for="loc">Saving Location</label>
               <select name="loc" id="loc">
                  <option value="mobile">Mobile</option>
                  <option value="sim">Sim</option>
                  <option value="email">Email</option>
               </select>
            </div>
            <button type="submit">Add Contact</button>
         </form>
      </article>
   </section>
</body>